@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.7s ease;
}

html {
    margin: 0;
    padding: 0;
    background: grey;
}

.btn.bg-dark:hover {
    background: linear-gradient(90deg, rgba(129, 129, 129, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(129, 129, 129, 1) 100%);
    color: black !important;

    font-weight: 600;
}
.modal-dialog{

    background: white 0.1;
}

.page-link{
    background: transparent !important;
    color: black !important;
    text-decoration: none !important;
    border: none;
    padding-bottom: 10px;
    font-weight: 600;
    border-radius: 0;
}
.page-link:hover{
    background-color: black !important;
    color: white !important;

}

/* HEADER */
header {
    width: 100%;
    background-color: grey;
    box-shadow: 0 0 18px black;
    position: fixed;
    z-index: 1000;

}

header .navbar a {
    font-size: 14px;
    font-weight: 600;
}

header .navbar a:hover {
    color: #d3d3d3;
    transform: scale(1.1);
    margin-left: 2px;
}

header .navbar-brand {
    width: 30%;
}

header .navbar form i {
    transform: scale(1.4);
}

header .navbar form i:hover {
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #d3d3d3;
    transform: scale(1.35);
}

header .navbar-toggler {
    padding: 1px 5px;
    font-size: 24px;
    line-height: 0.3;
    background: grey;
    border: none;
}

header .navbar-toggler.collapsed {
    border: none;
}



/* HOME */


.carousel .w-100-height {
    height: 100vh;
    width: 100%;

}

 .carousel .carousel-item {
    min-height: 300px;
}

 .carousel .carousel-caption {
    text-align: left;

    text-shadow: 0 0 15px black;
    margin-bottom: 200px;
    z-index: 2;
}
 .carousel .carousel-caption h5 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
}

 .carousel .carousel-caption p {
    width: 60%;
    font-size: 16px;
    line-height: 1.9;
    text-align: left;
}

 .carousel .carousel-caption input {
    padding: 0.7rem 1rem;
}

 .carousel .carousel-caption .btn-light:hover {
    background: black;
    color: white;
}

 .carousel-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

 .card-bottom {
   right: 0.5%;
   padding-right: 15px;
margin-top: -180px;
    border-radius: 0;
    background-color: rgba(0, 0, 0);
}

 .card-bottom .card-text {
    color: #aeaeae;
}
.card-bottom image{
    width: 100%;
    border-radius: 0;
}
.card-bottom img{
    width: max-content;
    height: fit-content;
}

/* POPULAR */
.popular {
    background-color: rgba(161, 161, 161, 0.712);
}

.popular .container .arrow-icon {
    font-size: 28px;
    font-weight: 800;
}

/* LOGO */
.logo {
    margin-top: -15%;
}

.logo .quote {
    margin-top: 25%;
}

.logo .quote h2,
.logo .quote p,
.logo .quote h6 {
    color: #b5b5b5;
}

.logo .log img {
    width: 55%;
}

/* SERVICES */
.services {

    padding: 100px 0;

    background-color: rgba(161, 161, 161, 0.712);

}

.services .text-about {
    margin-top: 40px;
}

/* BLOGS */
.blog {
    background-color: rgba(161, 161, 161, 0.712);
    padding-bottom: 40px;
}

.blog .container button {
    background: #d4e9ff;
}

/* REVIEWS */
.reviews {
    padding-top: 40px;
}

.reviews .card p {
    color: rgb(204, 201, 201);
}

.reviews  .carousel-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(49, 49, 49);
    z-index: 1;
}
.reviews .carousel-inner img{
width: 100%;
height: 200px;

}
/* QUESTIONS */
.questions {
    background-color: rgba(161, 161, 161, 0.712);
}

.questions .accordion-item {
    background-color: rgba(161, 161, 161, 0.712);
}

.questions .accordion-button {
    background: linear-gradient(90deg, rgba(129, 129, 129, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(129, 129, 129, 1) 100%);
    color: black !important;
    font-weight: 600;
}
.accordion-button:not(.collapsed) {

    box-shadow: none !important;
}
.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}

/* FOOTER */
.bg-footer {
    padding: 50px 0 30px;

}
.bg-footer li{
    cursor: pointer;
}
.bg-footer  li:hover{
    transform: scale(1.1) !important;
    transform: translate(20px) !important;
}

.bg-footer  li:hover i{
    transform: scale(1.2) !important;
    color: #aeaeae;
    transform: translate(-20px) !important;
}
.bg-footer .copy a{
color: #aeaeae;
font-weight: 800;
}

/* CONTACT */
.contact{
    background-color: rgba(161, 161, 161, 0.712);
}

/* Detail */
.detail{
    background: rgba(161, 161, 161, 0.712) !important;
}
/* Blog-detail */
.blog-detail{
    background: rgba(161, 161, 161, 0.712) !important;
}
.blog-detail h2{
    top:60%;
    left:50%;
    font-size: 60px;
    font-weight: 800;
    text-shadow: 0 0 18px white;
}
.blog-detail h5{
    font-weight: 600;
}
.blog-detail p{
    font-weight: 500;
}
/* Mobile Resposive */

@media only screen and (max-width:960px){
    .blog-detail h2{
        top:30%;
        left:20%;
        font-size: 40px;
        font-weight: 800;
        text-shadow: 0 0 18px white;
    }
}

@media only screen and (max-width:490px){
    .blog-detail h2{
        top:20%;
        left:20%;
        font-size: 40px;
        font-weight: 800;
        text-shadow: 0 0 18px white;
    }
}
@media only screen and (max-width:767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel .carousel-caption h5 {
        font-size: 30px;
        letter-spacing: 0;
        line-height: normal;
    }

    .carousel .carousel-caption p {
        padding: 10px 15px;
        font-size: 15px;

    }

    .carousel .card-bottom {
        display: none;
    }

}